* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/bgimg.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 8% 0;
}

.logo {
    border: 1.5px solid #f0f8ff;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    height: 30px;
    margin-right: 10px;
    filter: invert(15%) sepia(39%) saturate(6541%) hue-rotate(338deg) brightness(96%) contrast(103%);
}

.logo h2 {
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
}

.logo span {
    color: #b1102a;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: 0.3s;
}

main {
    position: absolute;
    top: 18vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
}

form table {
    border-spacing: 20px;
}

form caption {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

form label {
    font-size: 16px;
}

form input, form textarea {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #ea1538;
    outline: none;
    border-radius: 30px;
}

form .radio input {
    width: 60px;
}

form .btn {
    width: 150px;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ea1538;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #000, 0 0 15px #868686;
    top: 6px;
    right: 6px;
}

footer {
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

footer img {
    height: 38px;
    width: 38px;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 50px;
    margin: 10px;
}

footer p {
    color: white;
    font-size: 17px;
    margin-right: 60px;
}